#navbar{
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  background-color: #40B8AF
}

#navbar li{
  display: inline
}

#navbar a{
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none
}

#navbar a:hover{
  background-color: #257E78
}

* {
  font-family: "Helvetica"
}

img {
  height: 300px;
  width: 300px
}

#intro {
  color: #696969
}

#title {
  color: gray
}

#title{
  color: #2F4F4F
}
