#navbar{
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  background-color: #40B8AF
}

#navbar li{
  display: inline
}

#navbar a{
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none
}

#navbar a:hover{
  background-color: #257E78
}

* {
  font-family: "Helvetica"
}

#intro {
  color: #696969
}

#title {
  color: gray
}

#title{
  color: #2F4F4F
}

#icon{
  width: 60px;
  height: 60px;
  margin: 20px
}

.section{
  float: left;
  width: 100%;
  height: 600px;
}

.code{
  background: #2F7E78
}

.art{
  background: #6A2D5B
}

.data{
  background: #AF577C
}

.passion{
  background: #F2B176
}
