#navbar{
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  background-color: #40B8AF
}

#navbutton{
  float: left;
  display: inline
}

#navbutton a{
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

#navbutton a:hover{
  background-color: #257E78;
}

#intro {
  font-family: "Helvetica";
}
